* {
    box-sizing: border-box;
}

body {
    background-color: #ffecde;
}

/* FLASHCARDS  */

.card-deck {
    font-family: "Open Sans", sans-serif;
}

.card {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
    background-color: white;
    width: 600px;
    height: 180px;
    transform-style: preserve-3d;
    transition: all 0.3s ease;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0))
        translateY(var(--translate-y, 0));
    cursor: pointer;
    margin: 20px;
}

.card:hover {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
    --translate-y: -2px;
}

.card.flip {
    --rotate-y: 180deg;
}

.card .front,
.card .back {
    position: absolute;
    /* backface-visibility: hidden; */
}

.card .back {
    transform: rotateY(180deg);
}
